{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div id="select">
    <h4>{% trans 'Select type of vechicle' %}</h4>
    <div class="container mb-5">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-primary btn-lg" href="{% url 'checklist_add' %}"
            >{% trans "Regular transport" %}</a
          >
          <a class="btn btn-primary btn-lg" href="{% url 'dangerous_cargo_checklist' %}"
            >{% trans "Dangerous cargo" %}</a
          >
        </div>
    </div>
</div>

{% endblock %}