{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Document</title>
  </head>

 
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"
          ><img
            id="logo"
            src="{% static 'images/Logo katco_high def.jpg' %}"
            alt="Katco logo"
          />
          HSE</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row-reverse">
           {% load i18n %} 
            <form action="{% url 'set_language' %}" method="post" id="lang-select">
            {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language" onchange="document.getElementById('lang-select').submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
          <div class="collapse navbar-collapse" id="navbarNav">
           
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script
    src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    >
  </script>
 

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
  </body>
</html>
