{% extends 'base.html' %} {% load i18n %} {% block content %}
<div class="login-div">
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
      <ul class="list-inline">
      <li class="list-inline-item"><span class="align-middle"><p class="h6">{{user.first_name}}, {% trans 'Welcome!'%}</p></span></li>
      <li class="list-inline-item"><button type="submit" class="btn btn-outline-info btn-sm" href="account/logout">{% trans 'Log out' %}</button></li>
    </ul>
    </form>
    <hr>
</div>

    <div class="container-fluid">
      <a type="button" class="btn btn-info" href="{% url 'checklist_select' %}">{% trans 'Vechicle checklist' %}</a>
    </div>
    
    {% else %}

<div id="welcome">
      <h3>{% trans 'Welcome to HSE Web application!' %}</h3>
      <p>{% trans 'To use the application you need to log in' %}</p>
      <a class = "btn btn-primary btn-block mb-4" href="account/login">{% trans 'Log in' %}</a>
      <div class="border-top pt-3 mb-4">
        <small class="text-muted"> {% trans 'Need an account?' %}</small>
        <br>
        <a href="account/register">{% trans 'Registration' %}</a>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}



  
 
